{% extends "widget_base.html" %}

{% block widget_type %}vacancies{% endblock widget_type %}
{% block default_id %}Vacancies{% endblock default_id %}
{% block default_text %}Vacancies{% endblock default_text %}
<!--
    Leave the block option_selector empty to not include a selector
-->
{% block option_selector %}{% endblock option_selector %}
{% block option_selector_data %}{% endblock option_selector_data %}

{% block content %}
<div id="{{ unique_widget_id | safe }}">
    <div class="container">
        <h3>Vacancies</h3>
        {% if vacancies %}
            {% for vacancy in vacancies %}
                <div class="list-item" onclick="openVacancyPopup('{{ unique_widget_id }}_{{ forloop.counter0 }}')">
                    <div class="vacancy-title">
                        {{ vacancy.title }}
                    </div>
                    <div class="event-title">
                        <div class="event-company">
                            {{ vacancy.company }}
                        </div>
                        <div class="event-title">
                            {{ vacancy.duration }}
                        </div>
                    </div>
                    <div class="popup-overlay" id="popup-{{ unique_widget_id }}_{{ forloop.counter0 }}">
                        <div class="popup-content">
                            <span class="close-btn" data-popup-id="popup-{{ unique_widget_id }}_{{ forloop.counter0 }}">X</span>
                            <h1>{{ vacancy.title }}</h1>
                            <p>{{ vacancy.duration }}</p>
                            <p>{{ vacancy.address }}, {{ vacancy.zipcode }}</p>
                            <p>{{ vacancy.city }}, {{ vacancy.country }}</p>
                            <p>{{ vacancy.url }}</p>
                            <p>{{ vacancy.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No vacancies available.
        {% endif %}
    </div>
</div>

<script>
    // Vacancy Pop up
    function openVacancyPopup(index) {
        var popup = document.getElementById('popup-' + index);
        popup.style.display = 'flex';
    }

    // Close popup when close button is clicked
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('close-btn')) {
            var popupId = event.target.getAttribute('data-popup-id');
            closePopup(popupId);
        }
    });

    function closePopup(popupId) {
        var popup = document.getElementById(popupId);
        popup.style.display = 'none';
    }

    // Close popup when clicking outside of it
    window.onclick = function(event) {
        if (event.target.classList.contains('popup-overlay')) {
            event.target.style.display = "none";
        }
    }
</script>
{% endblock content %}